#main{
	background-image: url("images/background-03.png");
	background-size: cover;
	height: 100vh;

}

/* TITLE MIGHT NOT BE NEEDED*/
#gl-header{
	color: white;
	text-align: center;
}

/*TRACK AND ITS SUB PARTS*/
#track{
    width: auto;
    position: relative;

}
#verts{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#horz {
    width: 99%;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: white
}
.tick {
	width: 1px;
	height: 10px;
	background: white;
    
}
.big-tick {
	width: 1px;
	height: 20px;
	background: white;

}
table.ticks {
    display: table;
    width: 100%;
    table-layout: fixed;    /* For cells of equal size */
}
table.ticks td {
    display: table-cell;
    vertical-align: top;
}

/*STOP COMMAND and TIMER*/

.stopAction {
    background-size: 100px;
    height: 45px;  
    width: 100px;
}

#stopBtn{
    content:url('images/stopbutton.png');
}

#actionArea{
    
}

/*Might need to do another table and nested tds*/
#timer{
    position: relative;
}

#timer-num {
    color: white;
    position: absolute;
    top: 50%;
    font-size: 34px;
    font-weight: 400;
    line-height: 1.3;
}

/*POD*/

#pod {
    width: 100px;  
    background-size: 50px;
    content:url('images/podicon-03.png');
    position: relative;
    margin-left: -100px;
    margin-bottom: -1px;
    /* Determines position from left    */
    left: 0%;
}

#podCourse{
    position: relative;
    
}

/*Buttons*/

.rpyGroup{
    
}

.rpyBtns{
    margin: auto;
    height: 100px;  
}

.attGroup{

}

.attBtns{
    margin: auto;
    height: 100px;    
}

#vel{
    content:url('images/velocitybutton.png');
}

#acc{
    content:url('images/accelerationbutton.png');
}

#pos{
    content:url('images/positionbutton.png');
}

#pit{
    content:url('images/pitchbutton.png');
}

#roll{
    content:url('images/rollbutton.png');
}

#yaw{
    content:url('images/yawbutton.png');
}

table.attGroup {
    display: table;
    width: 100%;
    table-layout: fixed;    /* For cells of equal size */
}
table.attGroup td {
    display: table-cell;
    vertical-align: top;
}

table.rpyGroup {
    display: table;
    width: 100%;
    table-layout: fixed;    /* For cells of equal size */
}
table.rpyGroup td {
    display: table-cell;
    vertical-align: top;
}
