#main{
	background-image: url("images/background-03.png");
	background-size: cover;
	height: 100vh;

}

/* TITLE MIGHT NOT BE NEEDED*/
#gl-header{
	color: white;
	text-align: center;
}

/*TRACK AND ITS SUB PARTS*/
#track{
    width: auto;
    position: relative;

}
#verts{
    width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#horz {
    width: 99%;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
    z-index: 10;
    background: white
}
.tick {
	width: 1px;
	height: 10px;
	background: white;
    
}
.big-tick {
	width: 1px;
	height: 20px;
	background: white;

}
table.ticks {
    display: table;
    width: 100%;
    table-layout: fixed;    /* For cells of equal size */
}
table.ticks td {
    display: table-cell;
    vertical-align: top;
}

/*STOP COMMAND and TIMER*/

.actionBtn {
    background-size: 100px;
    height: 45px;  
    width: 100px;
}

#stopBtn{
    background-image: url( 'images/stopbutton.png' );
}


/*Might need to do another table and nested tds*/
div#timer > h3 {
    color: white;
    text-align: center;
    
}
