<div id='main' class="container-fluid">
    <div class='row'>
        <h1 id="gl-header">Gatorloop</h1>
    </div>
    <div class='row'>
        <div class="col-lg-8 col-md-offset-1">
            <div id="track">
                <div id="horz">
                </div>
                <div id="verts">
                    <table class="ticks">
                        <td><div class="big-tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="big-tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <!--            -->
                        <td><div class="big-tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="big-tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <!--            -->
                        <td><div class="big-tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="big-tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <!--            -->
                        <td><div class="big-tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="big-tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <!--            -->
                        <td><div class="big-tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="big-tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <!--            -->
                        <td><div class="big-tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="big-tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <!--            -->
                        <td><div class="big-tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="big-tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <!--            -->
                        <td><div class="big-tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="big-tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <!--            -->
                        <td><div class="big-tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="big-tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <!--            -->
                        <td><div class="big-tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="big-tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="tick"></div></td>
                        <td><div class="big-tick"></div></td>
                        <!--            -->
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <span style="display: inline-block; vertical-align: center;">
            <div class="actionBtn" id="stopBtn" ></div>
            </span>
            <span style="display: inline-block; vertical-align: center;"><div id="timer">
                <h3>0.00</h3>
            </div>
            </span>
            
        </div>
    </div>
    <div id='middle'></div>
    <div id='logo'></div>
</div>
