<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GatorLoop</title>
</head>
<body>
	<h1>GatorLoop</h1>
	<div class = "containter">
		<div class = "row">
			<div class = 'col-xs-12'>
				<img id="position" src="pod.jpg">
			</div>
		</div>
		<div class="row" id ="topRow">
			<div class = 'col-xs-4'>
				<div id ="info">
					<span id = "category"><u>Velocity</u></span>
					<p id="value">68</p>
				</div>
				<div id ="info">
					<span id = "category"><u>Acceleration</u></span>
					<p id="value">68</p>
				</div>
				<div id ="info">
					<span id = "category"><u>Position</u></span>
					<p id="value">68</p>
				</div>
			</div>
			<div class = 'col-xs-4'>
				<p id ="graphLabel">Velocity</p>
				<img id = "graph" src = "accel.png">
				<div id ="stop">
					<p id ="stopMessage">STOP POD</p>
				</div>
			</div>
			<div class = 'col-xs-4'>
				<div id ="info">
					<span id = "category"><u>Pitch</u></span>
					<p id="value">68</p>
				</div>
				<div id ="info">
					<span id = "category"><u>Roll</u></span>
					<p id="value">68</p>
				</div>
				<div id ="info">
					<span id = "category"><u>Yaw</u></span>
					<p id="value">68</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>